body {
    background-color: rgb(240, 246, 247);
}

.header {
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 80px;
    background-color: rgb(240, 246, 247);
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid gray;
}

* {
    /* font-family: 'Barlow', sans-serif; */
    font-family: 'Nunito', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Ubuntu', sans-serif; */
    /* margin: 0px; */
    /* padding: 0px; */
}

.logo img {
    width: 250px;
    margin-top: 5px;
    display: inline-block;
    float: left;
    margin-right: 10%;
    margin-left: 5%;
}

.nav-bar ul li {
    display: inline-block;
    margin-top: 15px;
}

.nav-bar ul li a {
    text-decoration: none;
    /* border: 2px solid black; */
    font-size: 13px;
    padding: 10px;
    border-radius: 100px;
    color: black;
    font-weight: bold;

}
/*  */
.nav-bar ul li a:hover,
.nav-bar ul li a.active {
    background-color:rgb(15, 15, 136) ;
    color: white;
}

.main-image {
    position: relative;
    top: 72px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: block;
}

.main-image img {
    width: 100vw;
    height: 100vh;
}

.news {
    position: relative;
    top: 75px;
    background-color: rgb(70, 70, 216);
    color: white;
    text-align: center;
    width: 90%;
    margin: auto;
    height: 25px;
}

.news p {
    padding-top: 3px;
}

.news p span {
    color: greenyellow;
}

.intro {
    position: relative;
    top: 60px;
    width: 950px;
    margin: 30px auto;
    background-color: rgb(240, 246, 247);
    text-align: center;
    font-size: 14px;

}

.intro img {
    margin-top: 0%;
    display: inline-block;
    width: 50px;
    border-radius: 100px;
    background-color: rgb(240, 246, 247);

}

.intro h1 {
    margin-bottom: 5px;
    padding-top: 50px;
    color: rgb(68, 153, 68);
}

.intro h1 span {
    color: rgb(70, 70, 216);
}

#frt {
    width: 50px;
    display: inline-block;
    color: rgb(11, 100, 11);
    height: 2px;
    background-color: rgb(11, 100, 11);
    border-width: 0px;
}

#frt1 {
    width: 50px;
    display: inline-block;
    color: rgb(11, 100, 11);
    height: 2px;
    background-color: rgb(11, 100, 11);
    border-width: 0px;
}

.intro p {
    text-align: justify;
    color: rgb(65, 63, 63);
}

.numbers{
    /* width: 100vw; */
    height: 650px;
    background-color: rgb(70, 70, 216);
    position: relative;
    top: 70px;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    flex-wrap: wrap;
    
}
.blue-area{
    margin-top: 40px;
    text-align: center;
    color: white;
    
}
.numbers img{
    width: 40px;
    border-radius: 100px;
}
.nmbr{
    font-size: 32px;
    font-weight: bold;
    font-family:'Plus Jakarta Sans';
}
.numbers p span{
    color:rgb(23, 247, 23) ;
}


        /* ---------doings box start here--------- */


.doings{
    /* border: 2px solid black; */
    position: relative;
    top: 70px;
    height: 100vh;
    width: 90%;
    margin: auto;
    
}
.doings h1 {
    margin-bottom: 5px;
    padding-top: 40px;
    color: rgb(68, 153, 68);
}

.doings h1 span {
    color: rgb(70, 70, 216);
}
.doings img {
    margin-top: 0%;
    display: inline-block;
    width: 50px;
    border-radius: 100px;
    background-color: rgb(240, 246, 247);
    /* align-self: center; */

}

.doing-top{
    height: 200px;
    /* border: 2px solid green; */
    width: 100%;
    text-align: center;

}
.doing-box{
    /* border: 1px solid; */
    background-color: white;
    width: 350px;
    height: 180px;
    margin:10px;
    text-align: center;
    display: inline-block;
    margin: 0px 10px 35px 35px;
    box-shadow: 3px 3px 20px rgb(194, 194, 194);
    /* float: left; */
    box-shadow: 5px bottom rgb(240, 246, 247);

}
.doing-box img{
    margin-top: 10px;
    background-color: white;
    width: 70px;
}
.doing-box h2{
    color:rgb(70, 70, 216) ;
}

/* ...........missions and upcomming events 2nd last box........... */

.upcomming-events{
    /* border: 2px solid brown; */
    position: relative;
    top: 70px;
    /* width: 65%; */
    height: 75vh;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    background-color: white;
}
.missions{
    /* border: 2px solid green; */
    width: 65%;
}
.mission-box{
    border:1px solid rgb(196, 194, 194);
    width: 380px;
    height: 70px;
    display: inline;
    float: left;
    margin-left: 3.4%;
    margin-top: 2%;
    background-color: rgb(240, 246, 247);
    

}
.mission-box img{
    display: inline-block;
    float: left;
    padding-top: 20px;
    padding-left: 2%;
}
.mission-box h3{
    display: inline-block;
    /* float: left; */
    padding-left: 6%;
    padding-top: 12px;
    color: rgb(70, 70, 216);
    font-size: 16px;

}
.missions h2{
    color: rgb(70, 70, 216);
    padding-left: 27px;
}
.missions hr{
    width: 50px;
    display:block;
    color: rgb(11, 100, 11);
    height: 2px;
    background-color: rgb(11, 100, 11);
    border-width: 0px;
    /* float: left; */
}

.upcomming-news{
    width: 30%;

    /* border: 2px solid yellow; */
}
.upcomming-news p{
    width: 70%;
    /* text-align: justify; */
    font-size: 18px;
    color: rgb(65, 63, 63);
    line-height: 18px;
    border-top: 1px solid gray;


}
.upcomming-news h2{
    color: rgb(70, 70, 216);

}
.upcomming-news hr{
    width: 50px;
    display:block;
    color: rgb(11, 100, 11);
    height: 2px;
    background-color: rgb(11, 100, 11);
    border-width: 0px;
}

/* ------------Gallery Images------------- */
.gallery{
    /* border: 2px solid greenyellow; */
    position: relative;
    top: 45px;
    background-color: white;
    width: 100%;
    height: 100vh;
}
.gallery-heading{
    text-align: center;
}
.gallery-heading h1{
    margin-bottom: 5px;
    padding-top: 50px;
    color: rgb(68, 153, 68);
}
.gallery-heading span{
    color: rgb(70, 70, 216);

}
.gallery-heading img{
    margin-top: 0%;
    display: inline-block;
    width: 50px;
    border-radius: 100px;
    background-color: rgb(240, 246, 247);
}


/* ------------ Gallery Images : images */
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3%;
}
.images img{
    width: 230px;
    padding: 2px;
}


/* ------------------Footer------------------- */

.footer{
    width: 100%;
    height: 50%;
    position: relative;
    top: 45px;
    background-color: rgb(36, 34, 34);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* padding: 8px; */
}



.detail{
    width: 32%;
    /* border: 2px solid pink; */
    color: rgb(153, 145, 145);
    font-size: 13px;
    line-height: 27px;
    
}
.detail ul li{
    list-style: none;
}
.detail p{
    padding-left: 10%;
    padding-top: 3%;
}
.detail ul li img{
    width: 15px;
    filter: invert(90);
}


.useful-links{
    width: 32%;
    /* border: 2px solid red; */
    color: white;

}



.connect-with-us{
    width: 32%;
    /* border: 2px solid gold; */
    /* color: white; */
}

.connect-with-us ul li img{
    width: 50px;
    border-radius: 100%;

}
.connect-with-us ul li{
    list-style: none;
    float: left;
    /* margin: 0%; */
}
.connect-with-us h4{
    color: white;
    padding-left: 8%;
}

/* ------------------copyright--------------- */

.copyright{
    width: 100%;
    height: 10%;
    position: relative;
    top: 27px;
    background-color: rgb(70, 70, 216);
}
.copyright p{
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    color: white;
}

/* ------------------arrow up----------------- */

.up-box{
    width: 100px;
    height: 100px;
    display: inline-block;/
    position: fixed;
    /* right : 40px; */
    /* border: 2px solid black; */
    
    

}
.up-box img{
    /* display: inline-block; */
    /* position: relative; */
    width: 90%;
    opacity: 0.3;
    /* background: none; */
    
}
